body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f5f5f5;
}


/* HEADER */

.header{
    background-color:#111;
    color:white;
    text-align:center;
    padding:25px;
}

.header h1{
    margin:0;
    font-size:40px;
}

.header p{
    margin-top:5px;
}


/* MENU */

.menu{
    background-color:black;
    padding:15px;
}

.menu ul{
    display:flex;
    justify-content:center;
    gap:35px;
    list-style:none;
    margin:0;
    padding:0;
}

.menu li{
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.menu li:hover{
    text-decoration:underline;
}


/* BANNER */

.banner img{
    width:100%;
    display:block;
}


/* SEÇÕES */

section{
    padding:40px;
    margin:20px;
    background:white;
    border-radius:8px;
}


/* SOBRE */

.sobre{
    text-align:center;
}

.sobre img{
    width:280px;
    margin-top:20px;
    border-radius:10px;
}

.sobre p{
    max-width:700px;
    margin:auto;
}


/* CLUBES */

.clubes{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.clubes article{
    text-align:center;
    background:#fafafa;
    padding:20px;
    border-radius:8px;
    width:150px;
}

.clubes img{
    width:100px;
}


/* TITULOS */

.titulos{
    text-align:center;
}

.titulos article{
    margin:10px;
    padding:10px;
}


/* PUSKAS */

.puskas{
    text-align:center;
}

.puskas img{
    width:350px;
    margin-top:15px;
    border-radius:8px;
}


/* FORMULARIO */

.formulario{
    text-align:center;
}

.formulario input{
    padding:10px;
    margin:10px;
    border:1px solid #ccc;
}

.formulario button{
    padding:10px 20px;
    background:black;
    color:white;
    border:none;
    cursor:pointer;
}

.formulario button:hover{
    background:#333;
}


/* FOOTER */

footer{
    background-color:black;
    color:white;
    text-align:center;
    padding:20px;
}